<div id="divInfo"></div>
<button id="btnRequest">Request product info</button>
<button id="btnSend">Send product info</button>

@section Scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/app/HomeIndex.js")"></script>
}