<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reinforced.Typings Test Application</title>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")"></script>
    @RenderSection("Scripts", required: false)
</head>
<body>
<div>
    @RenderBody()
</div>
</body>
</html>
