@{
    ViewBag.Title = "Angular Demo";
}

<div ng-app="app" ng-controller="AngularDemoController as ctl">
    <div class="row">
        <div class="col-md-6">
            <h2>Simple</h2>
            <p>
                This method returns random value. <br />
                Now random value is <b>{{ctl.RandomValue}}</b>
            </p>
            <p class="text-center">
                <button class="btn btn-primary" id="btnSimpleInt" ng-click="ctl.refreshRandomValue()">Do that!</button>
            </p>
        </div>
        <div class="col-md-6">
            <h2>Parametrized</h2>
            <p>
                Simple method that is called with random parameters and returns them concatenated. <br />
                Now result is <b>{{ctl.simpleResult}}</b>
            </p>
            <form class="form-horizontal" name="parametrizedForm" novalidate>
                <div class="form-group">
                    <label for="inputNum" class="col-sm-4 control-label">Parameter 'num'</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" id="inputNum" ng-model="ctl.simpleNum" ng-required="true" placeholder="(number)">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputS" class="col-sm-4 control-label">Parameter 's'</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputS" ng-model="ctl.simpleS" ng-required="true" placeholder="(string)">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="ctl.simpleBoolValue"> Parameter 'boolValue' (boolean)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 text-center">
                        <button class="btn btn-primary" id="btnMethodWithParameters" ng-click="ctl.parametrizedMethod()" ng-disabled="!parametrizedForm.$valid" ng-model="button">Invoke!</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Returning objects</h2>
            <p>
                Method that returns complex JSONed object. <br />
                <div ng-show="ctl.objectResult">
                    <b>Current time:</b> {{ctl.objectResult.CurrentTime}} <br />
                    <b>Message:</b> {{ctl.objectResult.Message}} <br />
                    <b>Success:</b> <span class="glyphicon glyphicon-ok" ng-show="ctl.objectResult.Success" ng-cloak></span>
                    <span class="glyphicon glyphicon-remove" ng-hide="ctl.objectResult.Success" ng-cloak></span>
                </div>
            </p>
            <p class="text-center">
                <button class="btn btn-primary" id="btnReturningObject" ng-click="ctl.retrieveComplex()">Invoke!</button>
            </p>
        </div>
        <div class="col-md-6">
            <h2>Parametrized objects</h2>
            <p>
                Returns JSONed object, invoked with parameters. Done simple.
            </p>
            <form class="form-horizontal" name="parametrizedFormWo" novalidate>
                <div class="form-group">
                    <label for="inputS" class="col-sm-4 control-label">Echo</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputEcho" ng-model="ctl.inputEcho" ng-required="true" placeholder="(string)">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 text-center">
                        <button class="btn btn-primary" ng-click="ctl.parametrizedMethodWithObject()" ng-disabled="!parametrizedFormWo.$valid" ng-model="button">Invoke!</button>
                    </div>
                </div>
            </form>
            <p class="text-center">
                <div ng-show="ctl.echoResult">
                    <b>Current time:</b> {{ctl.echoResult.CurrentTime}},
                    <b>Message:</b> {{ctl.echoResult.Message}} ,
                    <b>Success:</b> <span class="glyphicon glyphicon-ok" ng-show="ctl.echoResult.Success" ng-cloak></span>
                    <span class="glyphicon glyphicon-remove" ng-hide="ctl.echoResult.Success" ng-cloak></span>
                </div>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Void</h2>
            <p>
                Invoke void method that does not return anything <br/>
                Void method was called <b>{{ctl.voidMethodCalledCount}}</b> times
            </p>
            <p class="text-center">
                <button class="btn btn-primary" ng-click="ctl.voidMethod()">Boom!</button>
            </p>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/ReinforcedTypings/AngularDemoController.js")"></script>
}
