@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 id="loading">Reinforced.Typings</h1>
    <p class="lead">Reinforced.Typings is a free framework for generating TypeScript glue code.</p>

</div>

<div class="row">

    <div class="col-md-4">
        <h2>SimpleIntMethod</h2>
        <p>
            Simple server method that will call JQueryController.SimpleIntMethod. This method returns random number
        </p>
        <p>
            <button class="btn btn-primary" id="btnSimpleInt">Call</button>
        </p>
    </div>
    <div class="col-md-4">
        <h2>MethodWithParameters</h2>
        <p>
            Simple method that is called with random parameters and returns them concatenated. <br/>
            Result is: <span id="result"></span>
        </p>
        <p>
            <button class="btn btn-default" id="btnMethodWithParameters">Call</button>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a>
        </p>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="/Scripts/ReinforcedTypings/IndexPage.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var a = new Reinforced.Typings.Samples.Difficult.CodeGenerators.Pages.IndexPage();
        })
    </script>
}
